.title a {
    color: #5651ff;
}

.title {
    width: 50%;
}

.info {
    flex-grow: 1;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    width: 50%;
}

.info a {
    color: cornflowerblue;
}