.Content {
    padding: 1em 1em 2em;
    background-color: white;
}

@media print {
    .Content {
        padding: 25px 1em 0 1em;
    }
}

@media (min-width: 768px) {
    .Content footer {
        display: none;
    }
}
