.Skills {
    padding: 0;
    list-style: none;
}

.info {
    flex-grow: 1;
    max-width: 50%;
}

.title {
    text-decoration: underline;
    text-underline-offset: 2px;
    width: 50%;
    min-width: auto;
}