body {
  margin: 0;
  background-color: rgb(82, 86, 89);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Cambria;

}
@font-face {
  font-family: 'Cambria';
  src: local('Cambria'), url("./assets/font/Cambria/Cambria.woff") format('woff');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
